@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary: #887366;
    --secondary: rgb(33, 33, 33);
    --title-color: #814445;
    --text-bg: #e3dcd4;
}

body{
    font-family: 'lato', sans-serif;
    width: 100%;
    margin: 0;
    height: 100vh;
}

header {
    position: relative;
    width: 100%;
    padding: 0;
    margin: auto;
    height: 500px;
}

a {
    color: inherit;
    text-decoration: none; 
    display: inline; 
   
}

.navbar{
     position: absolute;
     width: 100%;
     z-index: 3;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.nav-second-page{
    background-color: var(--primary);
}
.nav-second-page a{
    color: #000;
}
/* .nav-second-page{
    position: relative;
} */
.nav-links{
    text-align: center;
    display: flex;
    justify-content: space-around;

}
.nav-links a{
    color: white;
    font-size: 20px;
    margin-right: 15px;
}
.intro-section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--text-bg);
}

@media screen and (max-width:768px) {
    .intro-section{
        flex-direction: column;
    }
}
.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 3rem;
}
.description *{
    display: block;
    margin: 0;
    margin-bottom: 5px;
  
}



.description p:first-child{
    color: var(--title-color);
    font-size: 20px;
}


.description p:nth-of-type(2){
    font-size: 25px;
}
.auto-typing{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40) infinite alternate;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
.auto-typing h1{
    font-weight: bold;
    font-size: 45px;

}
.profile{
    padding-top: 4rem;
    width: 60%;
    position: relative;
    border-radius: 40% 0 0 0;
    background-color: var(--primary);
    z-index: 2;
}
.profile img{
  left: -8%;
  max-width: 350px;
  min-width: 250px;
    width: 65%;
   position: absolute;
   bottom: 0;
}
.introduction h2{
    color: var(--primary);
}
.introduction {
    padding: 4rem 3rem;
    background-color: var(--secondary);
    color: white;
    margin-top: -85px;
    position: relative;
  }

  .introduction p{
    font-size: 20px;
    line-height: 25px;
  }
  
  .social-links{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }
  .social-links a{
   margin-right: 1rem;
  }
  footer{
    padding-top: 5rem;
  background-color: var(--secondary);
  padding: 10px;
  color: var(--primary);
  padding-left: 3rem;
}

@media screen and (max-width:768px) {
    .profile{
      display: flex;
      justify-content: center;
    margin: auto;
    position: relative;
    border-radius: 100%;
    
    }
    .intro-section{
        flex-direction: column;
    }
    .profile img{
        position: unset;
        margin-bottom: 5rem;
    }
    header{
        height: auto;
    }

    .description{
        margin: auto;
        margin-top: 10rem;
        text-align: center;
    }
    .nav-links a{
        color: var(--secondary);
    }
    .introduction{
        z-index: 5;
    }
    .social-links{
        justify-content: center;
    }
    @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 95%;
        }
      }
      .auto-typing h1{
        font-size: 35px;
      }
}
@media screen and (max-width:576px) {
    .navigation{
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
    }
    .logo{
        margin-bottom: 1.5rem;
    }
    .profile{
        width: 75%;
    }
}
  /*     resume page     */
 

.resume {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.resume .left-side {
    padding: 4rem;
    background-color: var(--secondary);
    overflow: hidden;
}

.resume .left-side ::selection {
    color: #000;
    background-color: #fff;
}

.resume .right-side {
    padding: 4rem 3rem;
    background-color: #fff;
    overflow: hidden;
}

.resume .right-side ::selection {
    color: #fff;
    background-color: #323b4c;
}


.padding-top-bg {
    padding-top: 4rem !important;
}

.padding-top-sm {
    padding-top: 2rem !important;
}

.heading-primary-white,
.heading-primary-black {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.heading-primary-white {color: #fff;}
.heading-primary-black {color: #000;}

.heading-primary-white::after,
.heading-primary-black::after {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    top: 3.5rem;
}

.heading-primary-white::after {background-color: #fff; width: 120%;}
.heading-primary-black::after {background-color: #000; width: 100%;}

.info-box .info-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-box .info,
.info-box .info a {
    color: #ddd;
    font-size: 1.4rem;
    text-decoration: none;
    margin-bottom: 5px;
}

.discription {
    font-size: 1.6rem;
    color: #555;
    padding: 1.5rem 0;
    text-align: justify;
    line-height: 1.5;
}


.resume-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-profile .name {
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 2px;
}

.resume-profile .title {
    font-size: 1.6rem;
    color: #ddd;
    letter-spacing: 3px;
}

.resume-profile .profile-img {
    background-color: #fff;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.resume .left-side .profile-img img {
    width: 100%;
}


.skill {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.skill span {
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #fff;
}
.skill .skill-name {
    color: #fff;
    font-size: 1.6rem;
}


.lang-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.lang-box p {
    width: 40%;
}

.lang-box .percent {
    position: relative;
    display: block;
    height: 5px;
    width: 60%;
    background-color: #fff;
}

.lang-box .percent div {
    position: absolute;
    background-color: var(--primary);
    height: 5px;
}


.xp-box {
    position: relative;
    padding-left: 3rem;
}

.xp-box::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: #555;
    height: 100%;
    width: 2px;
}

.xp-box:last-child:before {
    height: 91%;
}

.xp-box::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: -7px;
    background-color: #fff;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: 2px solid #333;
}

.xp-box .xp-year {
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.xp-box .xp-company {
    color: #555;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.xp-box .xp-position {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
}

.xp-box .padding-fix {
    padding-bottom: 0;
}


.refer-box {
    display: flex;
    gap: 6rem;
}

.refer .refer-name {
    font-size: 2rem;
    margin-bottom: 3px;
}

.refer .job-position {
    color: #555;
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.refer .contact {
    font-size: 1.4rem;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refer .contact span {
    display: block;
    width: 25%;
    color: #000;
    font-weight: bold;
}

.refer .contact p {
    width: 75%;
    margin-left: 1rem;
}



@media screen and (max-width: 1000px) {
    .resume {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .refer-box {display: block;}
    .refer:first-child {margin-bottom: 3rem;}
    .resume {margin: 0;}
}

 /*     resume page     */
 
 /*contact */

 .contacts {
    padding-top: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}


.contacts--img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 280px;
    pointer-events: none;
}

.contacts--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 6rem 3rem;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
}

.contacts--container > h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;

}

.contacts-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contacts-form {
    display: flex;
    flex: 0.4;
    width: 100%;
}

.contacts-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.input-container {
    width: 100%;
}


.form-input {
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px; 
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
    width: 100%; 
    resize: none;
}

.form-input:focus{
    border: 4px solid #814445;
}

.form-message {
    height: 150px;
    box-sizing: border-box;
    border-radius: 50px; 
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
    width: 100%;
    resize: none;
}



.submit-btn button {
    border: none;
    outline: none;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.submit-btn button p {
    font-size: 16px;
    font-family: var(--primaryFont);
}

.submit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.send-icon {
    font-size: 25px;
    transform-origin: center;
    transform: translate(5px,-3px) rotate(-30deg);
}

.success-icon {
    font-size: 28px;
    transition: all 0.3s 0.8s ease-in-out;
}

.contacts-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.6;
    box-sizing: border-box;
    padding-left: 7rem;
    margin-top: 1.2rem;
}



.personal-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2.5rem;
}

.personal-details p {
    margin-left: 1.5rem;
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    font-family: var(--primaryFont);
    width: 45%;
    word-break: break-word;
}

.socialmedia-icons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .contacts--img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 240px;
    }
    .contacts--container {
        padding: 2rem 4rem;
        width: 80%;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 992px) {
    .contacts--img {
        display: none;
    }
    .contacts--container {
     
        margin-top: 5rem;
    }
    .contacts--container > h1 {
        font-size: 3rem;
        margin: 0 0 1.2rem 0;
    }
    .contacts-details {
        padding-left: 4rem;
    }
    .personal-details p {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .contacts--container h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .contacts--container {
        padding: 2rem;
        align-items: center;
    }
    .contacts-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts-form {
        display: flex;
        flex: 1;
        width: 80%;
    }
    
    .form-input {
        margin-bottom: 0.45rem;
    }
    .contacts-form form {
        align-items: flex-end;
    }
    .contacts-details {
        padding-left: 0rem;
        padding: 1rem;
        align-items: center;
        margin-top: 2rem;
    }
    .socialmedia-icons {
        width: 100%;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    .personal-details {
        margin-bottom: 1.8rem;
    }
    .personal-details p {
        margin-left: 1.2rem;
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .contacts-form {
        display: flex;
        flex: 1;
        width: 100%;
    }
    .contacts--container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .contacts-details {
        padding-left: 0rem;
        padding: 0rem;
        align-items: center;
        margin-top: 2rem;
    }
    .submit-btn{align-self: center;}
}
  
@media only screen and (min-width: 320px) and (max-width: 
  480px) {
    .contacts-details {
        padding-left: 0rem;
        padding: 0rem;
    }
}


 
.jss102 {
  color: #eaeaea;
  border: 4px solid var(--primary);
  transition: border 0.2s ease-in-out;
  font-weight: 500;
  background-color: #212121;
}

.jss103 {
  color: #eaeaea;
  border: 4px solid var(--primary);
  transition: border 0.2s ease-in-out;
  font-weight: 500;
  background-color: #212121;
}
.jss103:focus {
  border: 4px solid #814445;
}
.jss104 {
  color: var(--primary);
  display: inline-flex;
  padding: 0 5px;
  font-size: 0.9rem;
  transform: translate(25px,50%);
  font-weight: 600;
  background-color: #212121;
}
.jss105 {
  color: #212121;
  width: 45px;
  height: 45px;
  display: flex;
  font-size: 21px;
  transition: 250ms ease-in-out;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--primary);
}
.jss105:hover {
  color: #212121;
  transform: scale(1.1);
  background-color: #eaeaea;
}
.jss106 {
  color: #212121;
  width: 45px;
  height: 45px;
  display: flex;
  font-size: 23px;
  transition: 250ms ease-in-out;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--primary);
}
.jss106:hover {
  color: #212121;
  transform: scale(1.1);
  background-color: #eaeaea;
}
.jss107 {
  color: #212121;
  transition: 250ms ease-in-out;
  background-color: var(--primary);
}
.jss107:hover {
  color: #212121;
  transform: scale(1.08);
  background-color: #eaeaea;
}
/*   Contact   */

/* Courses */
.dd_heading{
  text-align: center;
}

.page-content {
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.d_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (min-width: 600px) {
  .d_card {
    height: 350px;
  }
}
.d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
.d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}
.d_card:nth-child(1):before {
  background-image: url(https://as1.ftcdn.net/v2/jpg/01/44/07/32/1000_F_144073201_MXUI35mtNsAc0PX9LzMbQsTiFuo8muSy.jpg);
  background-size: cover;
}
.d_card:nth-child(2):before {
  background-image: url(https://s38063.pcdn.co/wp-content/uploads/2021/09/Blog-SQLDatabaseSchemas-IM-JY-67189.jpg);
  background-size: cover;
}
.d_card:nth-child(3):before {
  background-image: url(https://courses.sudancareer.com/wp-content/uploads/2020/12/icdl.jpg);
  background-size: cover;
}
.d_card:nth-child(4):before {
  background-image: url(https://i0.wp.com/calmatters.org/wp-content/uploads/2021/08/math-curriculum.jpg?w=2000&ssl=1);
  background-size: cover;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.data-content {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
  .content > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .d_card:hover .content,
  .d_card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .d_card:hover .content > *:not(.heading),
  .d_card:focus-within .content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(700ms / 8);
    transition-delay: calc(700ms / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .content,
  .d_card:focus-within .content > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/* Courses */